ion-item{
    border-radius: 21px;
    border: 1px solid #f2f2f2;
    margin: 12px;
    /* height: 45px; */
    --background: #f2f2f2;
    outline: none;
  }
  .addressbtn {
    display: block;
    width: 50%;
    text-transform: uppercase;
    outline: none;
    padding: 14px 25px;
    border-radius: 25px;   
    color: #fff;
    margin: auto;
    background: #e90d0b;
}

.loginbtn {
  background: var(--cm-main-color);
  margin: auto;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  padding: 17px;
  color: #fff;
  border-radius: 10px;
  width: 90%;
  margin-top: 20%;
}