<ion-header>
  <ion-toolbar style="--background:var(--cm-main-color)">

    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="!utilserv.getTranslation('Change-Password')">Change Password</span>
      <span class="other_lang" *ngIf="utilserv.getTranslation('Change-Password')">{{utilserv.getTranslation('Change-Password')}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <form #userpassword="ngForm" (ngSubmit)="passwordSubmit(userpassword.value)">
        <ion-item>
          <ion-input type="text" placeholder="Old password" name="old_password" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="New password" name="password" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="confirm password" name="cpassword" ngModel></ion-input>
        </ion-item>
        <button class="loginbtn" type="submit" style="margin-top: 20px;">
          <span *ngIf="!utilserv.getTranslation('Save')">Save</span>
          <span class="other_lang" *ngIf="utilserv.getTranslation('Save')">{{utilserv.getTranslation('Save')}}</span>
        </button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>