.sub_logo{
    background:var(--cm-main-color);
    .bike{
        object-fit: cover;
        position: absolute;
        top: 15%;
        margin: auto;
        display: block;
        width: 70%;
        left: 0px;
        right: 0px;
        margin: auto;
      }
    .spc_offer{
        background: #ebfbf0;
        padding: 20px;
        border-radius: 20px;
        border: 3px dashed #fff;
        margin: 15px;
        margin-top: 0px;
        h1{
            margin:0px;
            font-weight: 900;
        }
        
    }

    .member{
        background: #f5f5f5;
        padding: 15px;
        border-radius: 10px;
        font-weight: 600;
        border: 2px dashed #fff;
        margin: 0px 15px;
        P{
            margin:0px;
        }
    }

    .package{
        background: #fff;
        border-radius: 30px 30px 0px 0px;
        margin-top: 20px;
        padding-top: 20px;

        .item{
            border-radius: 21px;
            border: 1px solid #f2f2f2;
            margin: 12px;
            /* height: 45px; */
            --background: #fff;
            outline: none;
        
            ion-label{
              h5{
                font-size: 20px;
                color: var(--cm-p-color);
                font-weight: bold;
              }
            }
        
            ion-radio{
              --color-checked:var(--cm-main-color);
            }
        }
        .item_active{
            border-radius: 21px;
            border: 1px solid var(--cm-main-color);
            margin: 12px;
            /* height: 45px; */
            --background: var(--cm-text-background);
            outline: none;
        
            ion-label{
                h5{
                font-size: 20px;
                color: var(--cm-p-color);
                font-weight: bold;
                }
            }
        
            ion-radio{
                --color-checked:var(--cm-main-color);
            }
        }

        .faq{
            background: #f5f5f5;
            padding: 20px;
            border-radius: 30px 30px 0px 0px;
            margin-top: 20px;
            text-align:left;
            h6{
                margin:0px;
                color:var(--cm-main-color);
                text-transform: uppercase;
                font-size:22px;
            }
            h4{
                margin-bottom:0px;
                font-size:17px;
            }
            p{
                margin-top:10px;
                color:var(--cm-p-color);
            }
        }
    }

    .package_other{
        background: #fff;
        border-radius: 30px 30px 0px 0px;
        margin-top: 20px;
        padding-top: 0px !important;

        .item{
            border-radius: 21px;
            border: 1px solid #f2f2f2;
            margin: 12px;
            /* height: 45px; */
            --background: #fff;
            outline: none;
        
            ion-label{
              h5{
                font-size: 20px;
                color: var(--cm-p-color);
                font-weight: bold;
              }
            }
        
            ion-radio{
              --color-checked:var(--cm-main-color);
            }
        }
        .item_active{
            border-radius: 21px;
            border: 1px solid var(--cm-main-color);
            margin: 12px;
            /* height: 45px; */
            --background: var(--cm-text-background);
            outline: none;
        
            ion-label{
                h5{
                font-size: 20px;
                color: var(--cm-p-color);
                font-weight: bold;
                }
            }
        
            ion-radio{
                --color-checked:var(--cm-main-color);
            }
        }

        .faq{
            background: #f5f5f5;
            padding: 20px;
            border-radius: 30px 30px 0px 0px;
            margin-top: 20px;
            text-align:left;
            h6{
                margin:0px;
                color:var(--cm-main-color);
                text-transform: uppercase;
                font-size:22px;
            }
            h4{
                margin-bottom:0px;
                font-size:17px;
            }
            p{
                margin-top:10px;
                color:var(--cm-p-color);
            }
        }
    }

    
}

.footer-md::before{
    background-image:none;
}

ion-footer{
    h4{
        text-decoration: underline;
        color:var(--cm-main-color);
        text-align: center;;
    }
}

ion-button{
    margin: auto;
    display: block;
    margin-top:5%;
    margin-bottom: 5%;
    width: 80%;
    height: 50px;
    --box-shadow: none;
    --background: var(--cm-main-color);;
    --border-radius: 10px;
}

.active_sub{
    margin-top: 0px;
    padding-top: 20px;
    h5{
        margin: 0px;
        text-align: left;
        padding: 0px 10px;
        color: #fff;
    }

    .current_sub{
        background:#fbfbfb;
        margin: 15px;
        border-radius: 20px;
        .plan{
            padding:10px;
            text-align:left;
            h2{
                margin: 5px 0px;
                font-size: 20px;
            }
            p{
                margin:0px;
                font-size:12px;
            }

            .clock{
                background-color: var(--cm-main-color);
                border-radius: 50%;
                height: 35px;
                width: 35px;
                padding: 8px;
                margin-top:1px;
            }
        }

        .premium{
            background: #f92347;
            float: right;
            padding: 10px;
            color: #fff;
            border-radius: 20px 0px;
        }
    }
}