.proceed {
    display: block;
    width: 50%;
    text-transform: uppercase;
    outline: none;
    padding: 14px 25px;
    border-radius: 25px;   
    color: #fff;
    margin: auto;
    background: #ed028c;
}
ion-item{
    border-radius: 21px;
    border: 1px solid #f2f2f2;
    margin: 12px;
    /* height: 45px; */
    --background: #fff;
    outline: none;
  }

  .proceedbtn {
    background: #e90d0b;   
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 44px;
}
.total {
    h6 {
        margin: 3px;
    }
    p {
        margin: 3px;
        color: #e90d0b;
        font-weight: 600;
    }
}

.date:before {
    content: "";
}

.time:before {
content: "";
}

.footer-md::before{
    background-image:none;
}

ion-footer{
    ion-button{
        margin: auto;
        display: block;
        margin-bottom: 5%;
        width: 80%;
        height: 50px;
        --box-shadow: none;
        --background: var(--cm-main-color);;
        --border-radius: 10px;
    }
}

.category{
    background: var(--cm-box-color);
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    color: #fff;
    height:68px;

    .cattitle{
        margin:0px;
    }
    p{
        font-size:10px;
        margin-top:5px;
        // margin-bottom:0px;
    }
}

.active_category{
    // --background-color:${{utilserv.color_data?.header_colour}};
    background: var(--cm-main-color);
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    color: #fff;
    height:68px;

    .cattitle{
        margin:0px;
        text-transform: uppercase;
    }
    p{
        font-size:10px;
        margin-top:5px;
        // margin-bottom:0px;
    }
}

.active_category:after {
 content: '';
position: absolute;
left: 23%;
top: 80%;
width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 20px solid #fff;
clear: both;

}

@media screen and (min-width: 768px) {
    .active_category:after{
        left:38% !important;
    }
}


ion-item{
    --background:transparent;
    padding: 0px 0px;
    border-radius: 20px;
    ion-label{
        padding-left:20px;
        color:#000;
        // font-weight:bold;
        p{
            color:var(--cm-no-item-color);
            font-size:12px;
        }
    }
   
}

.item-radio-checked{
    background-color: #fff;
    padding: 0px 0px;
    border-radius: 20px;
    border-color:var(--cm-main-color);;
    ion-label{
        padding-left:20px;
        color:#000;
        // font-weight:bold;
        p{
            color:var(--cm-no-item-color);
            font-size:12px;
        }
    }
}
ion-radio {
    --color-checked: var(--cm-main-color);;
}

//slots css
// <div class="com_box">71</div>
//       <div class="txt_First">
//       Lorem Ipsum is simply dummy text of the printing and typesetting    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
//       </div>

// .txt_First {
//     font-size:0.8em;
//     text-align: justify;
//     padding-bottom:20px;
// }
// .com_box {
//     width:60px;
//     height: 50px;
//     background: black;
//     color:white;
//     float:left;
//     display: flex;
//     justify-content: center; /* align horizontal */
//     align-items: center; /* align vertical */
//     margin-right:8px;
//     margin-bottom: 5px;
//     margin-top:1px;
// }

// .com_box:after {
//  content: '';
// position: absolute;
// left: 18px;
// top: 39px;
// width: 0;
// height: 0;
// border-left: 20px solid transparent;
// border-right: 20px solid transparent;
// border-bottom: 20px solid #fff;
// clear: both;

// }