.failure{
    text-align:center;
    padding: 20px;
    padding-top: 35%;
    h4{
        color: var(--cm-main-color);
        font-size: 17px;
    }
    .order_details{
        --box-shadow: none;
        --background: #efefef;
        color: #000;
        font-weight: bold;
        text-transform: none;
        --border-radius: 10px;
    }
    .try_again{
        --box-shadow: none;
        --background: var(--cm-main-color);
        color: #fff;
        font-weight: bold;
        text-transform: none;
        --border-radius: 10px;
    }
    .home{
        --box-shadow: none;
        --background: #efefef;
        color: #000;
        font-weight: bold;
        text-transform: none;
        --border-radius: 10px;
        margin-top:10%;
    }
}