ion-item{
    border-radius: 21px;
    border: 1px solid #c7c2c2;
    margin: 12px;
    --background: #fff;
    outline: none;
  }
  .addressbtn {
    display: block;
    text-transform: uppercase;
    outline: none;
    padding: 14px 38px;
    border-radius: 25px;   
    color: #fff;
    margin: auto;
    background: #eb1d21;
}

.loginbtn {
  background: var(--cm-main-color);
  margin: auto;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  padding: 17px;
  color: #fff;
  border-radius: 10px;
  width: 90%;
  margin-top: 20%;
}