<ion-header>
  <ion-toolbar style="--background:var(--cm-main-color)">
    <form>
      <div class="homesearch">
        <ion-searchbar placeholder="Search a product" name="search_key" [(ngModel)]="searchQuery"
          (keyup)="searchList($event)">
          <ion-buttons slot="start" style="color:#fff">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
        </ion-searchbar>
      </div>
    </form>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="product_list">
    <ion-row *ngFor="let product of products" class="products">
      <ion-col size="4">
        <div *ngFor="let price of product.price">
          <div *ngIf="product.selectedItem == price.id">
              <div class="offer" *ngIf="price.discount">
                  {{price.discount}} OFF
               </div>
          </div>
          
        </div>
        <img [src]="product.image" onerror="this.src='assets/images/default.png'" 
        (click)="viewProduct(product.id)" style="object-fit: contain;
        height: 100px;
        width: 200px">
      </ion-col>
      <ion-col size="8" class="content">
        <div *ngFor="let price of product.price">
          <ion-row>
            <ion-col size="10" style="padding:0px;">
              <h6 style="margin-top:3px" *ngIf="product.selectedItem == price.id">
                &#x20B9;{{price.price}}  <span class="mrp" *ngIf="price.discount!='0 %'">&#x20B9;{{price.mrp}}</span></h6>
            </ion-col>
            <ion-col size="2" style="padding:0px;" *ngIf="product.selectedItem == price.id">
              <div style="background: #e5e5e5;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              padding: 7px;">
                <ion-icon name="heart" (click)="Add_to_Wishlist(product.in_wishlist,product.id)"
                  [ngClass]="{'active_whishlist': product.in_wishlist == 'Yes', 'inactive_whishlist': product.in_wishlist == 'No'}">
                </ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
  
        <h6>{{product.name}}</h6>
        <div *ngFor="let price of product.price">
          <div [ngClass]="(product.price.length>1)?'select_class':''" (click)="selcteQuantity(product.id,product.name,product.price,product.selectedItem)" *ngIf="product.selectedItem == price.id">
            {{price.quantity}}
            <span *ngIf="product.price.length>1" style="float:right;"><ion-icon name="arrow-down"></ion-icon></span>
          </div>
        </div>

        <div *ngFor="let price of product.price">
          <div *ngIf="price.stock_status=='In Stock'">
            <div *ngIf="product.selectedItem == price.id">
              <ion-button (click)="addtocartitem(product)" *ngIf="!price.cart_qty">
              <span *ngIf="!utilserv.getTranslation('Add')">Add</span>  <span class="other_lang">{{utilserv.getTranslation('Add')}}</span>
              </ion-button>
              <div class="quantity" *ngIf="price.cart_qty">
                <div class='minus' style="float: left;" (click)="decrease(product.id,1,product)">
                <span>
                  -
                </span> 
                </div>
                <span style="position: relative;
                top: 7px;
                left: 3px;color:#fff;">{{price.cart_qty}}</span>
                <div class='minus' style="float: right;left:3px;" (click)="increase(product.id,2,product)">
                  <span>
                  +
                  </span> 
                </div>
              </div>
              <div style="color:red;font-size:12px;text-align:right">
                You Save &#x20B9; {{price.save}}
              </div>
            </div>
          </div>
          
          <div *ngIf="price.stock_status=='Out Of Stock'">
            <div *ngIf="product.selectedItem == price.id">
              <p style="color: red;
              font-weight: bold;font-size:15px;">Out Of Stock</p>
              <div style="color:red;font-size:12px;text-align:right">
                You Save &#x20B9; {{price.save}}
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadmoreproducts($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- {{totalProducts}} -->
    <ion-row *ngIf="totalProducts<1" class="noproducts">
      <div style="margin-top: 10%;width: 100%;">
        <img src="assets/images/Cuttings/empty_favorites.png" style="margin:auto;display:block">
      </div>
      <h5 *ngIf="!utilserv.getTranslation('No-Products')">No Products</h5>
      <h5 *ngIf="utilserv.getTranslation('No-Products')">{{utilserv.getTranslation('No-Products')}}</h5>
      <p>
        <span *ngIf="!utilserv.getTranslation('Currently-there-are-no-products-available-for-purchase')">
          Currently there are no products available for purchase
        </span>
        <span *ngIf="utilserv.getTranslation('Currently-there-are-no-products-available-for-purchase')">
          {{utilserv.getTranslation('Currently-there-are-no-products-available-for-purchase')}}
        </span></p>
    </ion-row>
  </div>
 
  <!-- <ion-row>
    <ion-col size="6" style="padding: 5px;" *ngFor="let product of products">
      <div class="categorylist">
        <img [src]="product.image" (click)="viewProduct(product.id)">
        <h6>{{product.name}}</h6>
        <ion-select interface="popover" [(ngModel)]="product.selectedItem" (ionChange)="SelectChange($event)">
          <ion-select-option *ngFor="let price of product.price" [value]="price.id">
            {{price.quantity}}
          </ion-select-option>
        </ion-select>

        <div *ngFor="let price of product.price">
          <h6 style="margin-top:3px" [(ngModel)]="selectedprice" *ngIf="product.selectedItem == price.id">
            MRP : &#x20B9; {{price.price}}</h6>
        </div>
        <div class="addtobag">
          <div style="width: 30%;float: left;background: #fff;">
            <ion-icon name="heart-outline"
              [ngClass]="{'active_whishlist': product.in_wishlist == 'Yes', 'inactive_whishlist': product.in_wishlist == 'No'}">
            </ion-icon>
          </div>

          <div class="bag" (click)="addtocartitem(product)" *ngIf="product.quantity<1">
            <h5>Add to Bag</h5>
          </div>
          <div class="quantity" *ngIf="product.quantity>=1">
            <ion-icon name="remove-circle-outline" (click)="decrease(product.id,1)">
            </ion-icon>
            <span>{{product.quantity}}</span>
            <ion-icon name="add-circle-outline" (click)="increase(product.id,2)"></ion-icon>
          </div>
        </div>
      </div>
    </ion-col>

  </ion-row> -->
  <!-- <ion-row *ngIf="totalProducts!=0">
    <div class="noproducts">
      <div style="margin-top: 10%;width: 100%;">
        <img src="assets/images/no-products.svg" style="margin:auto;display:block">
      </div>
      <h5>No Products</h5>
      <p>Currently there are no products
        available for purchase</p>
    </div>
  </ion-row> -->
</ion-content>