<ion-content style="--background: #00000070">

  <div class="modalbox1">

    <div class="otptitle">
      <h6>
       <span *ngIf="!utilserv.getTranslation('Forgot-Password')"> Forgot Password </span>
        <span class="other_lang">{{utilserv.getTranslation('Forgot-Password')}}</span></h6>
      <ion-icon name="close" slot="end" class="modelclose" (click)="modalClose()"></ion-icon>
    </div>
    <form #forgotForm="ngForm" (ngSubmit)="forgotSubmit(forgotForm.value)">

      <div class="otpclas">

        <ion-row style="padding: 20px 10px;">
          <ion-col size="12">
            <ion-item>
              <ion-input type="number" placeholder="Enter Mobile" name="mobile" ngModel></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <button class="registerbtn" type="submit">
         <span *ngIf="!utilserv.getTranslation('Submit')">Submit</span> 
          <span class="other_lang">{{utilserv.getTranslation('Submit')}}</span>
        </button>
      </div>
    </form>
  </div>

</ion-content>