
.ion-model {
    --background: #000000a8;
  }
 
 .quickmodelinput {
      color: #fff;
     --background: none;
     border-bottom: 1px solid #fff;
 }
 .modalbox1 {  
    bottom: 0;
    background: #fff;
    border-radius: 30px 30px 0px 0px;
    padding: 30px 1px;
    position: fixed;
    width: 100%;
}
 
 .modelboxinput {
    color: #fff;
 }
 
 .sc-ion-modal-md-h {
   --background: transparent;
 }
 
 .modelclose {
    font-size: 22px;
    float: right;
    margin-top: -31px;
    margin-right: 11px;
}
button{
    display: block;
    outline: none;
    padding: 12px 35px;
    background: var(--cm-main-color);
    color: #fff;
    margin: auto;
    border-radius: 20px;
    width: 80%;
    height: 45px;
}
ion-item{
    border: 1px solid #bfb9b9;
    border-radius: 21px;
    margin: 12px;
    /* --background: #f2f2f2; */
    outline: none;
}

.otpclas {
    width: 95%;
    margin: auto;
    display: block;
    h6 {
        font-size: 20px;
        margin-top: 3px;
        text-align: center;
    }
    p{
        text-align: center;
        line-height: 14px;
        font-size: 11px;
    }
    ion-input {
        width: 45px;
    height: 45px;
    border-radius: 7px;
    font-size: 20px;
    }
}

.otptitle {
    background: var(--cm-main-color);
    padding: 6px;
    margin-top: -30px;
    border-radius: 27px 27px 0px 0px;
    h6 {
        font-size: 16px;
        text-align: center;
        color: #fff;
        font-weight: 500;
    }
    ion-icon {
        color: #fff;
    }
}